.testContainer {
    width: 100%;  
    height: 100%;
    /* background: linear-gradient(to top left, #f2ecda, #ADD8E6);  */
 
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-35%);
}

.testTitle {
    height: 100px;
}

.testTitleSpan {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 170px;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .6);
}

.testTitleSpan:nth-child(2) { animation-delay: .1s; }
.testTitleSpan:nth-child(3) { animation-delay: .2s; }
.testTitleSpan:nth-child(4) { animation-delay: .3s; }
.testTitleSpan:nth-child(5) { animation-delay: .4s; }
.testTitleSpan:nth-child(6) { animation-delay: .5s; }
.testTitleSpan:nth-child(7) { animation-delay: .6s; }
.testTitleSpan:nth-child(8) { animation-delay: .7s; }
.testTitleSpan:nth-child(9) { animation-delay: .8s; }
.testTitleSpan:nth-child(10) { animation-delay: .9s; }
.testTitleSpan:nth-child(11) { animation-delay: .10s; }

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
                     0 2px 0 #CCC,
                     0 3px 0 #CCC,
                     0 4px 0 #CCC,
                     0 5px 0 #CCC,
                     0 6px 0 #CCC,
                     0 7px 0 #CCC,
                     0 8px 0 #CCC,
                     0 9px 0 #CCC,
                     0 50px 25px rgba(0, 0, 0, .4);
    }
}

.testButton {
    display: block;
    width: 100%;  /* it will take the full width of the .testContainer */
    padding: 10px 0;  /* 10px top/bottom padding, 0 left/right */
    background-color: #FF4500; /* or any other color you like */
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.testButton:hover {
    background-color: #FF6347; /* a bit darker shade on hover */
}