*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* 뷰포트의 너비에 맞춤 */
  height: 100vh; /* 뷰포트의 높이에 맞춤 */
  /* background-image: linear-gradient(to left bottom, #F2E3C6 0%, #A7A1A5 100%); */
  overflow: hidden;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.app__bgimg {
  position: absolute;
  top: 0;
  left: -2.5%;
  width: 105%;
  height: 100%;
  transition: transform 3.5s 770ms;
}
.app__bgimg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.app__bgimg-image--1 {
  background: center center no-repeat;
  background-size: cover;
}

.app__text {
  position: absolute;
  right: 30%;
  top: 20%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  z-index: 1;
}
.app__text-line {
  transition: transform 1500ms 400ms, opacity 750ms 500ms;
  will-change: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.app__text-line--4 {
  transition: transform 1500ms 1500ms, opacity 1500ms 1500ms;
}
.app__text-line--3 {
  transition: transform 1500ms 1600ms, opacity 1500ms 1750ms;
}
.app__text-line--2 {
  transition: transform 1500ms 1700ms, opacity 1500ms 2000ms;
}
.app__text-line--1 {
  transition: transform 1500ms 1800ms, opacity 1500ms 2250ms;
}
.app__text-line--4 {
  font-size: 50px;
  font-weight: 700;
  color: #0a101d;
}
.app__text-line--3 {
  font-size: 40px;
  font-weight: 300;
}
.app__text-line--2 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #7da6e4;
}
.app__text-line--1 {
  font-size: 18px;
  margin-top: 15px;
}
.app__text-line--1 img {
  width: 50px;
}
.app__text--1 .app__text-line {
  transform: translate3d(0, -125px, 0);
  opacity: 0;
}
.app__text--2 {
  right: initial;
  top: 250px;
  left: 80px;
  z-index: -1;
  transition: z-index 1500ms;
}
.app__text--2 .app__text-line--4 {
  opacity: 0;
  transition: transform 1500ms -75ms, opacity 400ms 125ms;
}
.app__text--2 .app__text-line--3 {
  opacity: 0;
  transition: transform 1500ms 0ms, opacity 400ms 200ms;
}
.app__text--2 .app__text-line--2 {
  opacity: 0;
  transition: transform 1500ms 75ms, opacity 400ms 275ms;
}
.app__text--2 .app__text-line--1 {
  opacity: 0;
  transition: transform 1500ms 150ms, opacity 400ms 350ms;
}
.app__img {
  position: absolute;
  transform: translate3d(0, -1400px, 0);
  width: 100%;
  height: 100%;
  transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
  will-change: transform;
}
.app__img img {
  min-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.initial .app__img {
  transform: translate3d(0, -100px, 0);
}
.initial .app__text--1 .app__text-line--1 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1400ms, opacity 400ms 1600ms;
  opacity: 1;
}
.initial .app__text--1 .app__text-line--2 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1475ms, opacity 400ms 1675ms;
  opacity: 1;
}
.initial .app__text--1 .app__text-line--3 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1550ms, opacity 400ms 1750ms;
  opacity: 1;
}
.initial .app__text--1 .app__text-line--4 {
  transform: translate3d(0, 0, 0);
  transition: transform 1500ms 1625ms, opacity 400ms 1825ms;
  opacity: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
}
