.curtain {
  width: 100%; /* Ensures the component is the full screen width */
  height: 100vh;
  overflow: hidden; /* Allows you to slide the panels outside the container without them showing */
}

.curtain__wrapper {
  /*These make sure the curtain covers the whole container*/
  width: 100%;
  height: 100%;
}

.curtain__panel {
  /*These sets a background color as well as an img to make it look like an actual curtain*/
  background: #8b0000;
  background-image: url("https://images.vexels.com/media/users/17482/101168/preview2/01bdac45c37aff22f75230abf3f019d4-red-curtain-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; /* Each panel takes up half the container */
  height: 100vh; /* Used for demo purposes */
  float: left; /* Makes sure panels are side-by-side */
  position: relative; /* Needed to define the z-index */
  z-index: 2; /* Places the panels in front of the prize */
  transition: all 1s ease-out; /* Animates the sliding transition */
}

.curtain__panel--left {
  /* Slides the panel to the left out of the container */
  transform: translateX(-100%);
}

.curtain__panel--right {
  /* Slides the panel to the right out of the container */
  transform: translateX(100%);
}

.curtain__prize {
  /*This sets the background color and an image (purposesly small to not take up the whole background).  The image is centered and not repeated so that it looks like an img element was used, but is not*/
  background: #000000;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /* Forces the prize position into the container start */
  z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
  width: 100%; /*Makes sure that it fills the whole container*/
  height: 100%;
  h1 {
    /*Makes the text white and centers it in the container*/
    color: white;
    text-align: center;
  }
}
input[type="checkbox"] {
  position: absolute; /* Force the checkbox at the start of the container */
  cursor: pointer; /* Indicate the curtain is clickable */
  width: 100%; /* The checkbox is as wide as the component */
  height: 100%; /* The checkbox is as tall as the component */
  z-index: 100; /* Make sure the checkbox is on top of everything else */
  opacity: 0; /* Hide the checkbox */
}

/* When the checkbox is checked... */
/* Slide the first panel in */
input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

/* Slide the second panel in */
input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}
