  .overflow-auto::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .overflow-auto {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-30px);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .log-item.fade-out {
    animation: fadeOutUp 1s forwards;
  }
  
  .log-item.fade-in {
    animation: fadeInUp 1s forwards;
  }
  